body
{
	background-position: fixed;
}

main
{
	display: flex;
	flex-direction: column;
}

article
{
	margin: 0 auto;
    width: 50%;
    padding: 10px;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: 20px;
    border: solid 1px;
}

h1
{
	color: red;
}

aside
{
	margin: 0 auto;
	width: 50%;
    padding: 10px;
    background-color: black;
    opacity: 0.8;
    font-size: 20px;
}



button
{
	border: none;
	text-align: center;
	margin: 2px;
	width: 15%;
	height: 35px;
	background-color: lightgreen;
	border-radius: 40%;
	font-size: 15px;
}

button:hover
{
	background-color: blue;
}

hr
{
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px black inset;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table
{
	width: 100%;
}

table tr:nth-child(even) {
    background-color: #FFDAB9;
}
table tr:nth-child(odd) {
   background-color: #CD853F;
}

th
{
	background-color: black;
	color: white;
	text-align: left;
}

#back
{
	border-style: none;
	width: 5%;
	visibility: hidden;
}

#start
{
	visibility: visible;
}

#agree, #disagree, #back, #skip, #result, #non, #aside
{
	visibility: hidden;
}
